<template>
  <div class="login">
    <section id="wrapper" class="login-register" style="background-image:url(img/login-register.5cb0c7f4.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" action="">
                    <a href="javascript:void(0)" class="text-center db"><img src="img/logo_black.png" alt="Home" /><br/><br/><img src="img/pages/login_user-01.png" alt="Home" /></a>
                    <div class="form-group mt-2">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex no-block align-items-center">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Remember me </label>
                            </div>
                            <div class="ml-auto">
                                <router-link to="reset-password" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</router-link> 
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-2">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="col-sm-12 text-center">
                            Don't have an account? <router-link tag="a" to="/register" class="text-primary m-l-5"><b>Sign Up</b></router-link>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
  </div>
  
</template>

<script>
export default {
  name: "login",
  components: {
    
  }
};
</script>
