<template>
  <div class="login">
    <section id="wrapper" class="login-register" style="background-image:url(img/login-register.5cb0c7f4.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" action="">
                    <a href="javascript:void(0)" class="text-center db m-b-20"><img src="img/logo_black.png" alt="Home" /><br/></a>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Recover Password</h3>
                            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-block text-uppercase waves-effect waves-light m-b-10" type="submit">Reset</button>
                            
                            Back to -<router-link to="/login"><b> Login</b></router-link>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
  </div>
  
</template>

<script>
export default {
  name: "ForgotPassword",
  components: {
    
  }
};
</script>
