<template>
    <div>
        <dform
          :formData="formData"
          :heading="'User Info'"
          :subHeading="'Add Admin User here'"
          :dataLoadUrl="'api/v1/user/'+$route.params.id"
          :submitUrl="'api/v1/user/'+$route.params.id"
          submitMethod="post"
          :params="{magazine_id:$route.params.id}">
        </dform>

    </div>
</template>

<script>
import dform from '../../components/form';
import list from '../../components/List';

export default {
    name : "product_form",
    components : {dform,list},
    data() {
        return {
            clinet_id : '',
            formData : {
                    submitUrl : '',
                    method : '',
                    type : '',
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    submitButton : {caption : "Save",
                                        class : "btn btn-success mr-3",
                                        iconClass : "fa fa-save",
                                    },
                    cancelButton : {caption : "Cancel",
                                        class : "btn btn-danger",
                                        iconClass : 'fa fa-close',
                                        url : "/list",
                                        visible : false
                                    },
                    fields : [{name:'user_id',
                                  type :  'hidden',
                                  caption: 'Id',
                                  value : '',
                                  placeholder : 'Id',
                                  required:true,
                                  requiredOn:['update'],
                                  viewOn:['update']
                                },
                                {name:'_method',
                                              type :  'hidden',
                                              caption: '_method',
                                              value : 'PUT',
                                              defaultValue : 'PUT',
                                              placeholder : '_method',
                                              required:true,
                                              requiredOn:['update'],
                                              viewOn:['update']
                                  },

                                { isGroupField  : true,
                                  caption:'',
                                  fields:[{name:'name',
                                            caption:'Name',
                                            placeholder: 'Name',
                                            type:'text',
                                            required:{required : true,errmessage : 'Please Enter First Name'},
                                            class : 'col-sm-6 col-md-4 col-xs-12',
                                            value:'',
                                        },
                                        {   name:'email',
                                            caption:'Email',
                                            placeholder: 'Email',
                                            type:'email',
                                            value:'',
                                            class : 'col-sm-6 col-md-4 col-xs-12',
                                            required:{required : true , errmessage : 'Email required'},
                                        },
                                          {name:'dashboard_type',
                                            type :  'select',
                                            caption: 'Dashboard Type',
                                            class : 'col-sm-6 col-md-4 col-xs-12',
                                            value : '',
                                            placeholder : 'Select Dashboard Type',
                                            options : [{caption:'Management & Finance',value:1},
                                                      {caption:'Marketing',value:2},
                                                      {caption:'Editor',value:3},
                                                      ],
                                            required:true
                                          },
                                          {name:'client_id',
                                            type :  'hidden',
                                            caption: 'Client',
                                            value : '',
                                            placeholder : 'Select Client',
                                            
                                          },
                                          {name:'date_of_birth',
                                            type :  'date',
                                            caption:'DOB',
                                            value : '',
                                            placeholder : 'Date of Birth',
                                            class : 'col-sm-6 col-md-4 col-xs-12',
                                            required:true
                                          },
                                        ],
                                },

                    ]
            },

        }
    },
    methods: {
        onSubmit(dataReturned)
        {

        },
        cancelFunction()
        {

        }
    },
    beforeMount()
    {

    }

}
</script>
