<template>
  <div id="main-wrapper">
    <top_header ></top_header>
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li :class="(menu.isActive)?'active':''" v-for="(menu,key) in menus" :key="key">
                        <router-link :to="menu.url" class="waves-effect waves-dark" @click="loadComponent()"><i :class="menu.icon"></i><span class="hide-menu"> {{menu.caption}}</span></router-link>
                    </li>
                    <li>

                    </li>

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <div class="page-wrapper">
      <router-view/>
    </div>
  </div>
</template>

<style>
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css";
</style>

<script>
    import top_header from "./components/TopHeader";
    export default {
        name : "app",
        components : {top_header},
        data(){
            return {
                /*
                * @name : menus
                * @type : array of objects
                * @description : these menus are visible in left side menus
                */
                menus : [   {   url:'/dashboard',
                                caption : 'Dashboard',
                                icon : 'mdi mdi-gauge',
                                isActive : false,
                                module : 'dashboard',
                            },
                            {   url:'/customer/list',
                                caption : 'Customers',
                                icon : 'mdi mdi-account-card-details',
                                isActive : false,
                                module : 'customer',
                            },
                            {   url:'/product/list',
                                caption : 'Products',
                                icon : 'icon-layers',
                                isActive : false,
                                module : 'product',
                            },                           
                            {   url:'/user/list',
                                caption : 'Users',
                                icon : 'mdi mdi-account-key',
                                isActive : false,
                                module : 'user',
                            }],

            }
        },

        methods : {
            setActiveMenu  : function(){
                let currentInstance = this;
                this.menus.forEach(function(menu,index){
                menu.isActive = (currentInstance.$route.params.module == menu.module);
                });
            },
        },
        beforeMount()
        {
            this.setActiveMenu();

        },
        mounted(){

        },
        watch:{
            $route (to, from){
                this.setActiveMenu();
            }
        }
    }
</script>
