<template>
    <div>
        <list
            primaryKey="magazine_id"
            :actionButtons="actionButtons"
            :moduleName="moduleName"
            :modalId="modalId"
            modalTitle="Product Form"
            modalSize=""
            :columns="columns"
            :formData="formData"
            loadListUrl="api/v1/magazines"
            :enableSn = "true"
            :crudInfo="crudInfo">
        </list>
    </div>
</template>
<script>
import list from '../../components/List';
export default {
    name : 'product_list',
    components : {list},
    data(){
        return{
            crudInfo : {create:{url:'api/v1/magazine',method:'post'},
                        view: {url:'api/v1/magazine',method:'get'},
                        update: {url: 'api/v1/magazine',method:"post"},
                        delete: {url:'api/v1/magazine',method:"delete"}
                    },
            actionButtons : ['edit','details','delete'],
            moduleName: 'Product',
            modalId : 'productMOdal',
            columns : [
                        {key:'name',caption:'Name'},
                        {key:'logo',caption:"Logo",fileType:"image"},
                        {key:'description',caption:"Description"},
                        {key:'api_key',caption:'API Key'},
                        {key:'clientName',caption:'Client Name'},
                    ]
    ,
            formData : {
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    fields:[{name:'magazine_id',
                                type :  'hidden',
                                caption: 'Id',
                                value : '',
                                placeholder : 'Id',
                                required:true,
                                requiredOn:['update'],
                                viewOn:['update']
                            },
                            {name:'_method',
                                        type :  'hidden',
                                        caption: '_method',
                                        value : 'PUT',
                                        defaultValue: 'PUT',
                                        placeholder : '_method',
                                        required:true,
                                        requiredOn:['update'],
                                        viewOn:['update']
                            },
                            {name:'name',
                                type :  'text',
                                caption: 'Name',
                                value : '',
                                placeholder : 'Name',
                                required:true,
                            },
                            {name:'client_id',
                                type :  'select',
                                caption: 'Customer',
                                value : '',
                                placeholder : 'Select Customer',
                                required:true,
                                loadUrl : 'api/v1/clients/auto-complete',
                                options : [],
                            },
                            {name:'logo1',
                                type :  'file',
                                caption: 'Logo',
                                value : '',
                                placeholder : 'Logo',
                                required:true,
                                requiredOn : ['create']
                            },
                            {name:'logo',
                            type :  'hidden',
                            fileType:'image',
                            caption: 'logo',
                            value : '',
                            placeholder : 'logo',                            
                            requiredOn : ['update']
                            },
                            {name:'description',
                                type :  'textarea',
                                caption: 'Description',
                                value : '',
                                placeholder : 'Description',
                                required:false,
                            },
                            {name:'api_key',
                                type :  'text',
                                caption: 'API Key',
                                value : '',
                                placeholder : 'API Key',
                                required:true,
                            }
                    ]
            },

        }
    },
    methods : {
        openModal(){
            this.$refs[this.modalId].open();
        }
    }
}
</script>
