<template>
  <div>
      <div class="container-fluid pt-4">
        <component v-bind:is="activeComponent"></component>
      </div>
      <FlashMessage></FlashMessage>
  </div>
</template>
<style>  <h1>Dashboard goes here</h1>
  ._vue-flash-msg-container{z-index: 9999;}
  ._vue-flash-msg-body{max-height: 100xh;}
</style>

<script>
/*
*
* register all component that need to viewed directly on here
*
*/

import customer_list from "./customer/List";
import customer_details from "./customer/Details";
import user_list from "./user/List";
import user_details from "./user/Details";
import product_list from "./product/List";
import product_details from "./product/Details";
import dashboard from "./dashboard/Dashboard";

export default {
  name : "MainView",
  data() {
        return {
            activeComponent : '',
            heading : 'Reset Password',
            subHeading : "Enter your Email and instructions will be sent to you!",
            fieldInlineTypeArray : ['text','date','email','number','password'],

          /*
          * @name : subslugComponents
          * @type : array of objects
          * @description : this array holds the name of component with url other than seeing in left side menu
          * include slug and subslug here and component
          */
          urlComponents : [ {module:'customer',slug:'list',component:customer_list},
                            {module:'customer',slug:'details',component:customer_details},
                            {module:'user',slug:'list',component:user_list},
                            {module:'user',slug:'details',component:user_details},
                            {module:'product',slug:'list',component:product_list},
                            {module:'product',slug:'details',component:product_details},
                            {module:'dashboard',component:dashboard}

                          ],
        }
  },
  methods : {
      setActiveComponent : function()
      {
        let currentInstance = this;
        this.urlComponents.forEach(function(item,index){
          if(item.module == currentInstance.$route.params.module && item.slug == currentInstance.$route.params.slug)
          {
            currentInstance.activeComponent = item.component;
          }
          else if( item.module == currentInstance.$route.params.module && item.slug == undefined )
          {
            currentInstance.activeComponent = item.component;
          }
        });
      }
  },
  beforeMount()
  {
      this.setActiveComponent();
  },
  watch:{
    $route (to, from){
      this.setActiveComponent();
    }
  }

}
</script>
<style>
  .btn-circle.btn-lg {
    padding: 12px 15px!important;
  }
</style>
