<template>
<div>
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="text-white card-title">{{heading}}</h4>
                <h6 class="card-subtitle text-white m-b-0 op-5"></h6>
            </div>
            <div class="card-body">
                <form :class="'form-horizontal '+((formData.type == 'material')?'form-material':'')" :action="formData.submitUrl" ref="dynamicForm">
                    <div v-for="(field,fieldIndex) in formData.fields" :key="fieldIndex">
                        <div :class="(field.type != 'hidden')?'form-group':''" v-if="!field.isGroupField">
                            <label v-if="field.type != 'hidden' && (field.caption)" :class="((formData.labelWidthClass != '') ? formData.labelWidthClass : '')">{{field.caption}}</label>
                            <div :class="(formData.fieldWidthClass != '')? formData.fieldWidthClass :'col-xs-12'" v-if="(!field.viewOn || field.viewOn.includes(scenario))">
                                <input
                                    :class="'form-control'+' '+((formSubmitStatus && field.error)?'is-invalid':'')"
                                    v-if="fieldInlineTypeArray.indexOf(field.type.toLowerCase()) > -1"
                                    :name="field.name"
                                    :ref="field.name"
                                    :id="field.name"
                                    :type="field.type"
                                    :placeholder="field.placeholder"
                                    v-model="field.value"
                                    @change="validateForm"
                                    @input="validateForm"/>

                                <input
                                    :class="'form-control'+' '+((formSubmitStatus && field.error)?'is-invalid':'')"
                                    v-if="field.type.toLowerCase() == 'number'"
                                    :name="field.name"
                                    :ref="field.name"
                                    :id="field.name"
                                    type="text"
                                    :placeholder="field.placeholder"
                                    v-model="field.value"
                                    @change="validateForm"
                                    @input="validateForm"/>

                                <input
                                    :class="'form-control'+' '+((formSubmitStatus && field.error)?'is-invalid':'')"
                                    :ref="field.name"
                                    :id="field.name"
                                    v-if="field.type == 'file'"
                                    :name="field.name"
                                    :type="field.type"
                                    :placeholder="field.placeholder"
                                    v-model="field.value"
                                    @change="validateForm"
                                    @input="validateForm"/>

                                <textarea
                                    :class="'form-control'+' '+((formSubmitStatus && field.error)?'is-invalid':'')"
                                    v-if="field.type == 'textarea'"
                                    :name="field.name"
                                    :ref="field.name"
                                    :id="field.name"
                                    :placeholder="field.placeholder"
                                    v-model="field.value"
                                    @change="validateForm"
                                    @input="validateForm">
                                </textarea>
                                <select
                                    :class="'form-control'+' '+((formSubmitStatus && field.error)?'is-invalid':'')"
                                    v-if="field.type == 'select'"
                                    v-model="field.value"
                                    :name="field.name"
                                    :ref="field.name"
                                    :id="field.name"
                                    @change="validateForm"
                                    @input="validateForm">
                                        <option value="">{{field.placeholder}}</option>
                                        <option
                                            :value="option.value"
                                            v-for="(option,index) in field.options"
                                            :key="index">
                                                {{option.caption}}
                                        </option>
                                </select>
                                <div v-if="field.type =='radio' || field.type =='checkbox'">
                                    <label :class="'custom-control custom-'+field.type" style="display:inline-block;margin-right:10px;" v-for="(option,index) in field.options" :key="index">
                                        <input
                                            :name="field.name"
                                            :type="field.type"
                                            v-model="field.value"
                                            :value="option.value"
                                            class="custom-control-input">
                                        <span class="custom-control-label">{{option.caption}}</span>
                                    </label>
                                </div>
                            </div>
                            <small v-if="formSubmitStatus && field.error" class="form-text text-danger">{{field.error}}</small>
                        </div>
                        <div class="form-group" v-if="field.isGroupField">
                            <h3 class="card-title" v-if="field.caption">{{field.caption}}</h3>
                            <hr v-if="field.caption"/>
                            <div class="row">
                                <div :class="subfields.class" v-for="(subfields,subfieldsIndex) in field.fields" :key="subfieldsIndex">
                                    <label class="card-title mb-2" v-if="subfields.caption && subfields.isGroupField"><strong>{{subfields.caption}}</strong></label>
                                    <div class="row" v-if="subfields.isGroupField">
                                        <div :class="subfield.class+ ' m-b-20'" v-for="(subfield,index) in subfields.fields " :key="index"  v-if="(!subfield.viewOn || subfield.viewOn.includes(scenario))">
                                            <label v-if="subfield.type != 'hidden' && (subfield.caption)">{{subfield.caption}}</label>
                                            <input
                                                :class="'form-control'+' '+((formSubmitStatus && subfield.error)?'is-invalid':'')"
                                                v-if="fieldInlineTypeArray.indexOf(subfield.type.toLowerCase()) > -1 "
                                                :name="subfield.name"
                                                :ref="subfield.name"
                                                :id="subfield.name"
                                                :type="subfield.type"
                                                :placeholder="subfield.placeholder"
                                                v-model="subfield.value"
                                                @change="validateForm"
                                                @input="validateForm"/>

                                            <input
                                                :class="'form-control'+' '+((formSubmitStatus && subfield.error)?'is-invalid':'')"
                                                v-if="subfield.type.toLowerCase() == 'number' "
                                                :name="subfield.name"
                                                :ref="subfield.name"
                                                :id="subfield.name"
                                                type="text"
                                                :placeholder="subfield.placeholder"
                                                v-model="subfield.value"
                                                @change="validateForm"
                                                @input="validateForm"/>

                                            <input
                                                :class="'form-control'+' '+((formSubmitStatus && subfield.error)?'is-invalid':'')"
                                                :name="subfield.name"
                                                :ref="subfield.name"
                                                :id="subfield.name"
                                                v-if="subfield.type == 'file'"
                                                :type="subfield.type"
                                                :placeholder="subfield.placeholder"
                                                v-model="subfield.value"
                                                @change="validateForm"
                                                @input="validateForm"/>

                                            <textarea
                                                :class="'form-control'+' '+((formSubmitStatus && subfield.error)?'is-invalid':'')"
                                                v-if="subfield.type == 'textarea'"
                                                :name="subfield.name"
                                                :ref="subfield.name"
                                                :id="subfield.name"
                                                :placeholder="subfield.placeholder"
                                                v-model="subfield.value"
                                                @change="validateForm"
                                                @input="validateForm">
                                            </textarea>

                                            <select
                                                :class="'form-control'+' '+((formSubmitStatus && subfield.error)?'is-invalid':'')"
                                                v-if="subfield.type == 'select'"
                                                :name="subfield.name"
                                                :ref="subfield.name"
                                                :id="subfield.name"
                                                v-model="subfield.value"
                                                @change="validateForm"
                                                @input="validateForm">

                                                <option value="">{{subfield.placeholder}} </option>
                                                <option
                                                    :value="option.value"
                                                    v-for="(option,index) in subfield.options"
                                                    :key="index">{{option.caption}}
                                                </option>
                                            </select>
                                            <div v-if="subfield.type =='radio' || subfield.type == 'checkbox'">
                                                <label :class="'custom-control custom-'+subfield.type" style="display:inline-block;margin-right:10px;" v-for="(option,index) in subfield.options" :key="index">
                                                    <input
                                                        :name="subfield.name"
                                                        :ref="subfield.name"
                                                        :id="subfield.name"
                                                        :type="subfield.type"
                                                        v-model="subfield.value"
                                                        :value="option.value"
                                                        class="custom-control-input">
                                                    <span class="custom-control-label">{{option.caption}}</span>
                                                </label>
                                            </div>
                                            <small v-if="formSubmitStatus && subfield.error" class="form-text text-danger">{{subfield.error}}</small>
                                        </div>
                                    </div>
                                    <div class="row" v-if="!subfields.isGroupField">
                                        <div class="col-12"   v-if="(!subfields.viewOn || subfields.viewOn.includes(scenario))">
                                            <label v-if="subfields.type != 'hidden' && (subfields.caption)">{{subfields.caption}}</label>
                                            <input
                                                :class="'form-control'+' '+((formSubmitStatus && subfields.error)?'is-invalid':'')"
                                                v-if="fieldInlineTypeArray.indexOf(subfields.type.toLowerCase()) > -1 "
                                                :name="subfields.name"
                                                :ref="subfields.name"
                                                :id="subfields.name"
                                                :type="subfields.type"
                                                :placeholder="subfields.placeholder"
                                                v-model="subfields.value"
                                                @change="validateForm"
                                                @input="validateForm"/>

                                            <input
                                                :class="'form-control'+' '+((formSubmitStatus && subfields.error)?'is-invalid':'')"
                                                v-if="subfields.type.toLowerCase() == 'number' "
                                                :name="subfields.name"
                                                :ref="subfields.name"
                                                :id="subfields.name"
                                                type="text"
                                                :placeholder="subfields.placeholder"
                                                v-model="subfields.value"
                                                @change="validateForm"
                                                @input="validateForm"/>

                                            <input
                                                :class="'form-control'+' '+((formSubmitStatus && subfields.error)?'is-invalid':'')"
                                                :ref="subfields.name"
                                                :name="subfields.name"
                                                :id="subfields.name"
                                                v-if="subfields.type == 'file'"
                                                :type="subfields.type"
                                                :placeholder="subfields.placeholder"
                                                v-model="subfields.value"
                                                @change="validateForm"
                                                @input="validateForm"/>

                                            <span v-if="subfields.fileType == 'image'">   <img :src="'/uploads/'+subfields.value" width="50"></span>

                                            <textarea
                                                :class="'form-control'+' '+((formSubmitStatus && subfields.error)?'is-invalid':'')"
                                                v-if="subfields.type == 'textarea'"
                                                :name="subfields.name"
                                                :ref="subfields.name"
                                                :id="subfields.name"
                                                :placeholder="subfields.placeholder"
                                                v-model="subfields.value"
                                                @change="validateForm"
                                                @input="validateForm">
                                            </textarea>

                                            <select
                                                :class="'form-control'+' '+((formSubmitStatus && subfields.error)?'is-invalid':'')"
                                                v-if="subfields.type == 'select'"
                                                :name ="subfields.name"
                                                :ref ="subfields.name"
                                                :id ="subfields.name"
                                                v-model="subfields.value"
                                                @change="validateForm"
                                                @input="validateForm">

                                                    <option value="">{{subfields.placeholder}} </option>
                                                    <option
                                                        :value="option.value"
                                                        v-for="(option,index) in subfields.options"
                                                        :key="index">{{option.caption}}
                                                    </option>
                                            </select>
                                            <div v-if="subfields.type =='radio' || subfields.type == 'checkbox'">
                                                <label  :class="'custom-control custom-'+subfields.type" style="display:inline-block;margin-right:10px;" v-for="(option,index) in subfields.options" :key="index">
                                                    <input :name="subfields.name" :type="subfields.type" v-model="subfields.value" :value="option.value" class="custom-control-input">
                                                    <span class="custom-control-label">{{option.caption}}</span>
                                                </label>
                                            </div>
                                            <small v-if="formSubmitStatus && subfields.error" class="form-text text-danger">{{subfields.error}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        <div class="col-xs-12">
                            <button :class="((formData.submitButton.class != '')?formData.submitButton.class : 'btn btn-primary')" type="button" @click="onSubmit"><i :class="formData.submitButton.iconClass"></i> {{ formData.submitButton.caption }}</button>
                            <button v-if="formData.cancelButton.visible" :class="((formData.cancelButton.class != '')?formData.cancelButton.class : 'btn btn-danger')" @click="$emit('close')" type="button"><i :class="formData.cancelButton.iconClass"></i> {{ formData.cancelButton.caption }}</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
</div>
</template>

<script>
import opmixin from '../mixins/operationMixins';
export default {
    name : "dynamic_form",
    data() {
        return {
            formSubmitStatus : false,
            fieldInlineTypeArray : ['text','date','email','number','password','hidden'],
            emailRegexRule : /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        }
    },
    /*
    *   @formData data that generate form
    *   @heading text i.e. displayed on card heading
    *   @scenario custom scenario of CRUD
    *   @submitUrl where data of form will be submitted
    *   @dataLoadUrl url that load single data
    *   @params - json object that need to be sent to dataLoadUrl
    *
    */
    props: ['formData','heading','scenario','submitUrl','dataLoadUrl','params','submitMethod'],
    methods: {
        onSubmit() {
            this.formSubmitStatus = true;
            var validationError = this.validateForm();
            if(!validationError)
            {
                this.submitData(this.submitUrl,this.getFormData(),this.submitMethod);
            }
        },
        getFormData()
        {
            var dynamicFormData = {};
            var currentInstance = this;
            this.formData.fields.forEach(function(field){
                if(!field.isGroupField)
                {
                    dynamicFormData[field.name] = field.value;
                    if(field.type == "file")
                    {
                        dynamicFormData[field.name] = currentInstance.$refs[field.name][0].files[0];
                    }
                }
                else{
                    field.fields.forEach(function(subfields){
                        if(!subfields.isGroupField)
                        {
                            dynamicFormData[subfields.name] = subfields.value;
                            if(subfields.type == "file")
                            {
                                dynamicFormData[subfields.name] = currentInstance.$refs[subfields.name][0].files[0];
                            }
                        }
                        else
                        {
                            subfields.fields.forEach(function(subfield){
                                dynamicFormData[subfield.name] = subfield.value;
                                if(subfield.type == "file")
                                {
                                    dynamicFormData[subfield.name] = currentInstance.$refs[subfield.name][0].files[0];
                                }
                            });
                        }

                    });
                }
            });
            return dynamicFormData;

        },
        loadSelectOptions()
        {
            var currentInstance = this;
            this.formData.fields.forEach(function(field){
                if(!field.isGroupField)
                {
                    if(field.type == "select")
                    {
                        currentInstance.loadSelect(field);
                    }
                }
                else{
                    field.fields.forEach(function(subfields){
                        if(!subfields.isGroupField)
                        {
                            if(subfields.type == "select")
                            {
                                currentInstance.loadSelect(subfields);
                            }
                        }
                        else
                        {
                            subfields.fields.forEach(function(subfield){
                                if(subfield.type == "select")
                                {
                                    currentInstance.loadSelect(subfield);
                                }
                            });
                        }

                    });
                }
            });

        },
        validateForm()
        {
            var currentInstance = this;
            var validationError = false;
            this.formData.fields.forEach(function(field){
                if(!field.isGroupField)
                {
                  if(!field.viewOn || field.viewOn.includes(currentInstance.scenario))
                  {
                    field.error = false;
                    if(typeof field.required != 'undefined' && field.required && field.value == '' && (!field.requiredOn  || field.requiredOn.includes(currentInstance.scenario)))
                    {
                        field.error = 'This field is required';
                        if(field.required.errmessage)
                        {
                            field.error = field.required.errmessage;
                        }
                        validationError = true;
                    }
                    else if(field.type == 'email')
                    {
                        if(!currentInstance.validEmail(field.value))
                        {
                            field.error = "Invalid Email";
                            if(field.email.errmessage)
                            {
                                field.error = field.email.errmessage;
                            }
                            validationError = true;
                        }
                    }
                    else if(field.type.toLowerCase() == 'number')
                    {
                        if(Number.isNaN(Number(field.value)))
                        {
                            field.error = "Please enter a valid number";
                            validationError = true;
                        }
                        else
                        {
                            if(field.min && field.value  < filed.min)
                            {
                                field.error = "Please enter a number greater than "+(field.min-1);
                            }
                            else if(field.max && field.value > field.max)
                            {
                                field.error = "Please enter a number less than "+ (field.max+1);
                            }
                        }
                    }
                    else if(field.type == 'date')
                    {

                    }
                    else if(field.equalTo){
                        if(field.value != currentInstance.$refs[field.equalTo].value)
                        {
                            field.error = field.caption+" did not match";
                            validationError = true;
                        }
                    }
                    else if(field.min && field.value.length  < field.min && field.value.length > 0)
                    {
                        field.error = "Atlest "+(field.min)+" characters required.";
                        validationError = true;
                    }
                    else if(field.max && field.value.length > field.max)
                    {
                        field.error = "Atmost "+ (field.max)+" characters required";
                        validationError = true;
                    }
                  }
                }
                else{
                    field.fields.forEach(function(subfields){
                        if(!subfields.isGroupField)
                        {
                          if(!subfields.viewOn || subfields.viewOn.includes(currentInstance.scenario))
                          {
                            subfields.error = false;
                            if(typeof subfields.required != 'undefined' && subfields.required && subfields.value == '' && (!subfields.requiredOn  || subfields.requiredOn.includes(currentInstance.scenario)))
                            {
                                subfields.error = 'This field is required';
                                if(subfields.required.errmessage)
                                {
                                    subfields.error = subfields.required.errmessage;
                                }
                                validationError = true;
                            }
                            else if(subfields.type == 'email')
                            {
                                if(!currentInstance.validEmail(subfields.value))
                                {
                                    subfields.error = "Invalid Email";
                                    if(typeof subfields.email != 'undefined' && subfields.email.errmessage)
                                    {
                                        subfields.error = subfields.email.errmessage;
                                    }
                                    validationError = true;
                                }
                            }
                            else if(subfields.type.toLowerCase() == 'number')
                            {
                                if(Number.isNaN(Number(subfields.value)))
                                {
                                    subfields.error = "Please enter a valid number";
                                    validationError = true;
                                }
                                else
                                {
                                    if(subfields.min && subfields.value  < subfields.min)
                                    {
                                        subfields.error = "Please enter a number greater than "+(subfields.min-1);
                                        validationError = true;
                                    }
                                    else if(subfields.max && subfields.value > subfields.max)
                                    {
                                        subfields.error = "Please enter a number less than "+ (subfields.max+1);
                                        validationError = true;
                                    }
                                }
                            }
                            else if(subfields.equalTo){
                                var refEl = currentInstance.$refs[subfields.equalTo];
                                if(subfields.value != refEl[0].value)
                                {
                                    subfields.error = subfields.caption+" did not match";
                                    validationError = true;
                                }
                            }
                            else if(subfields.min && subfields.value.length  < subfields.min && subfields.value.length > 0)
                            {
                                subfields.error = "Atlest "+(subfields.min)+" characters required.";
                                validationError = true;
                            }
                            else if(subfields.max && subfields.value.length > subfields.max)
                            {
                                subfields.error = "Atmost "+ (subfields.max)+" characters required";
                                validationError = true;
                            }
                          }
                        }
                        else
                        {
                            subfields.fields.forEach(function(subfield){
                              if(!subfields.viewOn || subfields.viewOn.includes(currentInstance.scenario))
                              {
                                subfield.error = false;
                                if(typeof subfield.required != 'undefined' && subfield.required && subfield.value == ''  && (!subfield.requiredOn  || subfield.requiredOn.includes(currentInstance.scenario)))
                                {
                                    subfield.error = 'This field is required';
                                    if(subfield.required.errmessage)
                                    {
                                        subfield.error = subfield.required.errmessage;
                                    }
                                    validationError = true;
                                }
                                else if(subfield.type == 'email')
                                {
                                    if(!currentInstance.validEmail(subfield.value))
                                    {
                                        subfield.error = "Invalid Email";
                                        if(typeof subfield.email.errmessage != 'undefined')
                                        {
                                            subfield.error = subfield.email.errmessage;
                                        }
                                        validationError = true;
                                    }
                                }
                                else if(subfield.type.toLowerCase() == 'number')
                                {
                                    if(Number.isNaN(Number(subfield.value)))
                                    {
                                        subfield.error = "Please enter a valid number";
                                        validationError = true;
                                    }
                                    else
                                    {
                                        if(subfield.min && subfield.value  < subfield.min)
                                        {
                                            subfield.error = "Please enter a number greater than "+(subfield.min-1);
                                            validationError = true;
                                        }
                                        else if(subfield.max && subfield.value > subfield.max)
                                        {
                                            subfield.error = "Please enter a number less than "+ (subfield.max+1);
                                            validationError = true;
                                        }
                                    }
                                }
                                else if(subfield.equalTo){
                                    if(subfield.value != currentInstance.$refs[subfield.equalTo].value)
                                    {
                                        subfield.error = subfield.caption+" did not match";
                                        validationError = true;
                                    }
                                }
                                else if(subfield.min && subfield.value.length  < subfield.min && subfield.value.length > 0)
                                {
                                    subfield.error = "Atlest "+(subfield.min)+" characters required.";
                                    validationError = true;
                                }
                                else if(subfield.max && subfield.value.length > subfield.max)
                                {
                                    subfield.error = "Atmost "+ (subfield.max)+" characters required";
                                    validationError = true;
                                }
                              }
                            });
                        }

                    });
                }
            });
            return validationError;
        },
        validEmail: function (email) {
            return this.emailRegexRule.test(email);
        },
    },
    beforeMount()
    {

        if(this.dataLoadUrl)
        {
            this.getInfo(this.dataLoadUrl, this.params);
        }
          this.loadSelectOptions();

    },
    mixins : [opmixin]

}
</script>
