<template>
    <div>
      <h1>Management and Finance Dashboard goes here</h1>
    </div>
</template>
<script>

export default {
    name : 'dashboard1',

    data(){
        return{

        }
    },
    methods : {

    }
}
</script>
