<template>
    <div>
      <h1>Marketing Dashboard goes here</h1>
    </div>
</template>
<script>

export default {
    name : 'dashboard2',

    data(){
        return{

        }
    },
    methods : {

    }
}
</script>
