<template>
    <div>
        <dform
          :formData="formData"
          :heading="'Client Info'"
          :subHeading="'Add Admin User here'"
          :dataLoadUrl="'api/v1/client/'+$route.params.id"
          :submitUrl="'api/v1/client/'+$route.params.id"
          submitMethod="post"
          :params="{client_id:$route.params.id}">
        </dform>

        <div class="row">
          <div class="col-md-6">
            <list
              :formData="formDataForUsers"
              :columns="columnsInfoForUsers"
              :crudInfo="crudInfoForUsers"
              primaryKey="user_id"
              :actionButtons="actionButtonsForUsers"
              moduleName="User"
              modalId="userModal"
              modalTitle="User Form"
              loadListUrl="api/v1/users/client"
              :enableSn = "true"
              :defaultParams="{client_id:$route.params.id}"
              modalSize="lg">
            </list>
          </div>
          <div class="col-md-6">
            <list
              :formData="formDataForProjects"
              :columns="columnsInfoForProjects"
              :crudInfo="crudInfoForProducts"
              primaryKey="magazine_id"
              :actionButtons="actionButtonsForProducts"
              moduleName="Product"
              modalId="productModal"
              modalTitle="Product Form"
              loadListUrl="api/v1/magazines/client"
              :enableSn="true"
              :defaultParams="{client_id:$route.params.id}">
            </list>
          </div>
        </div>
    </div>
</template>

<script>
import dform from '../../components/form';
import list from '../../components/List';

export default {
    name : "user_form",
    components : {dform,list},
    data() {
        return {
            clinet_id : '',
            formData : {
                    submitUrl : '',
                    method : '',
                    type : '',
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    submitButton : {caption : "Save",
                                        class : "btn btn-success mr-3",
                                        iconClass : "fa fa-save",
                                    },
                    cancelButton : {caption : "Cancel",
                                        class : "btn btn-danger",
                                        iconClass : 'fa fa-close',
                                        url : "/list",
                                        visible : false
                                    },
                    fields : [{name:'client_id',
                                  type :  'hidden',
                                  caption: 'Id',
                                  value : this.$route.params.id,
                                  defaultValue : this.$route.params.id,
                                  placeholder : 'Id',
                                  required:true,
                                  requiredOn:['update'],
                                  viewOn:['update']
                                },
                                {name:'_method',
                                              type :  'hidden',
                                              caption: '_method',
                                              value : 'PUT',
                                              defaultValue : 'PUT',
                                              placeholder : '_method',
                                              required:true,
                                              requiredOn:['update'],
                                              viewOn:['update']
                                            },
                                { isGroupField  : true,
                                  caption:'',
                                  fields:[{ isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            fields :[{name:'name',
                                                      caption:'Cutomer Title',
                                                      placeholder: 'Customer Title',
                                                      type:'text',
                                                      required:{required : true,errmessage : 'Please Customer Title'},
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      value:'',
                                                    },
                                                    { name:'vat_id',
                                                      caption:'VAT ID',
                                                      placeholder: 'Enter VAT ID',
                                                      type:'text',
                                                      min : '9',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter VAT ID'},
                                                    },

                                            ]
                                          },
                                          { isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            caption : 'Address',
                                            fields :[{name:'address_1',
                                                      caption:'',
                                                      placeholder: 'Address1',
                                                      type:'text',
                                                      required:{required : true,errmessage : 'Please Enter Address 1'},
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      value:'',
                                                    },
                                                    { name:'address_2',
                                                      caption:'',
                                                      placeholder: 'Enter Address 2',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },
                                                    { name:'address_3',
                                                      caption:'',
                                                      placeholder: 'Enter Address 3',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },
                                                    { name:'zip_code',
                                                      caption:'',
                                                      placeholder: 'Enter Zip Code',
                                                      type:'text',
                                                      value:'',
                                                      min : 4,
                                                      max : 4,
                                                      class : 'col-sm-12 col-md-6 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Zip Code'},
                                                    },
                                                    { name:'city',
                                                      caption:'',
                                                      placeholder: 'Enter City',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-6 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter City'},
                                                    },
                                                    { name:'national_code',
                                                      caption:'',
                                                      placeholder: 'Enter Country',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Country'},
                                                    },

                                            ]
                                          },
                                          { isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            caption : 'Invoice Address',
                                            fields :[{name:'invoice_address_1',
                                                      caption:'',
                                                      placeholder: 'Address1',
                                                      type:'text',
                                                      required:{required : true,errmessage : 'Please Enter Address 1'},
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      value:'',
                                                    },
                                                    { name:'invoice_address_2',
                                                      caption:'',
                                                      placeholder: 'Enter Address 2',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },
                                                    { name:'invoice_address_3',
                                                      caption:'',
                                                      placeholder: 'Enter Address 3',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },
                                                    { name:'invoice_zipcode',
                                                      caption:'',
                                                      placeholder: 'Enter Zip Code',
                                                      type:'text',
                                                      value:'',
                                                      min : 4,
                                                      max : 4,
                                                      class : 'col-sm-12 col-md-6 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Zip Code'},
                                                    },
                                                    { name:'invoice_city',
                                                      caption:'',
                                                      placeholder: 'Enter City',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-6 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter City'},
                                                    },
                                                    { name:'invoice_national_code',
                                                      caption:'',
                                                      placeholder: 'Enter Country',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Country'},
                                                    },

                                            ]
                                          },
                                        ]
                                },
                    ]
            },
            crudInfoForUsers :{ create:{url:'api/v1/user',method:"post"},
                                view: {url:'api/v1/user',method:"post"},
                                update: {url:'api/v1/user',method:"post"},
                                delete: {url:'api/v1/user',method:"delete"}
                              },
            columnsInfoForUsers : [
                                    {key:'name',caption:'Name'},
                                    {key:'email',caption:"Email"},
                                    {key:'date_of_birth',caption:"DOB"}
                                    ],
            actionButtonsForUsers :['edit','delete'],
            formDataForUsers : {
                                  fields : [{name:'user_id',
                                              type :  'hidden',
                                              caption: 'Id',
                                              value : '',
                                              placeholder : 'Id',
                                              required:true,
                                              requiredOn:['update'],
                                              viewOn:['update']
                                            }
                                            ,
                                            {name:'_method',
                                              type :  'hidden',
                                              caption: '_method',
                                              value : 'PUT',
                                              defaultValue :'PUT',
                                              placeholder : '_method',
                                              viewOn:['update']
                                            },
                                            { isGroupField  : true,
                                              fields:[{name:'name',
                                                        caption:'Name',
                                                        placeholder: 'Name',
                                                        type:'text',
                                                        required:{required : true,errmessage : 'Please Enter First Name'},
                                                        class : 'col-sm-12 col-md-6 col-xs-12',
                                                        value:'',
                                                    },
                                                    {   name:'email',
                                                        caption:'Email',
                                                        placeholder: 'Email',
                                                        type:'email',
                                                        value:'',
                                                        class : 'col-sm-12 col-md-6 col-xs-12',
                                                        required:{required : true , errmessage : 'Email required'},
                                                    },
                                                    { name:'password',
                                                        caption : 'Password',
                                                        placeholder:'Password',
                                                        type:'password',
                                                        value:'',
                                                        min : 6,
                                                        max:10,
                                                        class : 'col-sm-6 col-md-6 col-xs-12 mb-3',
                                                        required:{required : true , errmessage : 'Password required'},
                                                        requiredOn:["create"],
                                                        viewOn:['create'],
                                                      },
                                                      { name:'conPassword',
                                                        caption : 'Confrim Password',
                                                        placeholder:'Confirm Password',
                                                        type:'password',
                                                        value:'',
                                                        min : 6,
                                                        max:10,
                                                        class : 'col-sm-6 col-md-6 col-xs-12 mb-3',
                                                        required:{required : true , errmessage : 'Confirm Password required'},
                                                        requiredOn:["create"],
                                                        viewOn:['create'],
                                                      },
                                                      {name:'dashboard_type',
                                                        type :  'select',
                                                        caption: 'Dashboard Type',
                                                        class : "col-sm-6 col-xs-12 col-md-6",
                                                        value : '',
                                                        placeholder : 'Select Dashboard Type',
                                                        options : [{caption:'Management & Finance',value:1},
                                                                  {caption:'Marketing',value:2},
                                                                  {caption:'Editor',value:3},
                                                                  ],
                                                        required:{required : true , errmessage : 'Dashboard Type required'},
                                                      },
                                                      {name:'client_id',
                                                        type :  'hidden',
                                                        caption: '',
                                                        value : this.$route.params.id,
                                                        defaultValue : this.$route.params.id,
                                                        placeholder : 'Client Id',
                                                        required:true,
                                                      }],
                                            },
                                            {name:'date_of_birth',
                                              type :  'date',
                                              caption:'DOB',
                                              value : '',
                                              placeholder : 'Date of Birth',
                                              required:{required : true , errmessage : 'Date of Birth required'},
                                            },

                                ]
            },


            crudInfoForProducts : {create:{url:'api/v1/magazine',method:"post"},
                                    view: {url : 'api/v1/magazine',method:"get"},
                                    update: {url:'api/v1/magazine',method:"post"},
                                    delete: {url:'api/v1/magazine',method:"delete"}
                                },
            actionButtonsForProducts : ['edit','delete'],
            primaryKeyForProducts : 'magazine_id',
            columnsInfoForProjects : [
                                      {key:'name',caption:'Name'},
                                      {key:'logo',caption:"Logo",fileType:'image'},
                                      {key:'description',caption:"Description"},
                                      {key:'api_key',caption:'API Key'}],
            formDataForProjects : {
                                  fields:[{name:'magazine_id',
                                            type :  'hidden',
                                            caption: 'Id',
                                            value : '',
                                            placeholder : 'Id',
                                            required:true,
                                            requiredOn:['update'],
                                            viewOn:['update']
                                          },
                                          {name:'_method',
                                                    type :  'hidden',
                                                    caption: 'Method',
                                                    value : 'PUT',
                                                    defaultValue :'PUT',
                                                    placeholder : '_METHOD',
                                                    requiredOn:['update'],
                                                    viewOn:['update']
                                          },
                                          {name:'name',
                                            type :  'text',
                                            caption: 'Name',
                                            value : '',
                                            placeholder : 'Name',
                                            required:true,
                                          },
                                          {name:'client_id',
                                            type :  'hidden',
                                            caption: 'Client Id',
                                            value : this.$route.params.id,
                                            defaultValue : this.$route.params.id,
                                            placeholder : 'Client Id',
                                            required:true,
                                          },
                                          {name:'logo1',
                                            type :  'file',
                                            caption: 'Logo',
                                            value : '',
                                            placeholder : 'Logo',
                                            required:true,
                                            requiredOn : ['create']
                                          },
                                          {name:'logo',
                                          type :  'hidden',
                                          fileType:'image',
                                          caption: 'logo',
                                          value : '',
                                          placeholder : 'logo',
                                          required:true
                                          },
                                          {name:'description',
                                            type :  'textarea',
                                            caption: 'Description',
                                            value : '',
                                            placeholder : 'Description',
                                            required:false,
                                          },
                                          {name:'api_key',
                                            type :  'text',
                                            caption: 'API Key',
                                            value : '',
                                            placeholder : 'API Key',
                                            required:true,
                                          }
                                  ]
            }
        }
    },
    methods: {
        onSubmit(dataReturned)
        {
            // alert("hello");


        },
        cancelFunction()
        {

        }
    },
    beforeMount()
    {

    }

}
</script>
