<template>
    <div>
        <list
            :primaryKey="primaryKey"
            :actionButtons="actionButtons"
            :moduleName="moduleName"
            :modalId="modalId"
            :columns="columns"
            :formData="formData"
            :loadListUrl="loadListUrl"
            :crudInfo="crudInfo"
            modalSize="xlg"
            :enableSn = "true"
            modalTitle="Customer Form">
        </list>
    </div>
</template>
<script>
import list from '../../components/List';
export default {
    name : 'customer_list',
    components : {list},
    data(){
        return{
            crudInfo : {create:{url:'api/v1/client',method:"post"},
                        view: {url:'api/v1/client',method:"get"},
                        update: {url:'api/v1/client',method:"post"},
                        delete: {url:'api/v1/client',method:"delete"}
                      },
            primaryKey : 'client_id',
            actionButtons : ['edit','details','delete'],
            moduleName: 'Customer',
            modalId : 'addCustomerMOdal',
            loadListUrl : 'api/v1/clients',
            columns : [
                        {caption:'Title',key:'name'},
                        {caption:'VAT ID',key:'vat_id'}
                    ],
            formData : {
                    type : '',
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    fields : [{name:'client_id',
                                  type :  'hidden',
                                  caption: 'Id',
                                  value : '',
                                  placeholder : 'Id',                                
                                  requiredOn:['update'],
                                  viewOn:['update']
                                },
                                {name:'_method',
                                              type :  'hidden',
                                              caption: '_method',
                                              value : 'PUT',
                                              defaultValue : 'PUT',
                                              placeholder : '_method',
                                              requiredOn:['update'],
                                              viewOn:['update']
                                },
                                { isGroupField  : true,
                                  caption:'',
                                  fields:[{ isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            fields :[{name:'name',
                                                      caption:'Cutomer Title',
                                                      placeholder: 'Customer Title',
                                                      type:'text',
                                                      required:'true',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      value:'',
                                                    },
                                                    { name:'vat_id',
                                                      caption:'VAT ID',
                                                      placeholder: 'Enter VAT ID',
                                                      type:'text',
                                                      min:'9',
                                                      required:'true',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },

                                            ]
                                          },
                                          { isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            caption : 'Address',
                                            fields :[{name:'address_1',
                                                      caption:'',
                                                      placeholder: 'Address1',
                                                      type:'text',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Address 1'},
                                                      value:'',
                                                    },
                                                    { name:'address_2',
                                                      caption:'',
                                                      placeholder: 'Enter Address 2',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },
                                                    { name:'address_3',
                                                      caption:'',
                                                      placeholder: 'Enter Address 3',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },
                                                    { name:'zip_code',
                                                      caption:'',
                                                      placeholder: 'Enter Zip Code',
                                                      type:'text',
                                                      value:'',
                                                      min : 4,
                                                      max : 4,
                                                      class : 'col-sm-12 col-md-6 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Zip Code'},
                                                    },
                                                    { name:'city',
                                                      caption:'',
                                                      placeholder: 'Enter City',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-6 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter City'},
                                                    },
                                                    { name:'national_code',
                                                      caption:'',
                                                      placeholder: 'Enter Country',
                                                      type:'text',
                                                      value:'',
                                                      max:'3',
                                                      min : '2',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Country'},
                                                    },

                                            ]
                                          },
                                          { isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            caption : 'Invoice Address',
                                            fields :[{name:'invoice_address_1',
                                                      caption:'',
                                                      placeholder: 'Address1',
                                                      type:'text',
                                                      required:{required : true,errmessage : 'Please Enter Invoice Address 1'},
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      value:'',
                                                    },
                                                    { name:'invoice_address_2',
                                                      caption:'',
                                                      placeholder: 'Enter Address 2',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },
                                                    { name:'invoice_address_3',
                                                      caption:'',
                                                      placeholder: 'Enter Address 3',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                    },
                                                    { name:'invoice_zipcode',
                                                      caption:'',
                                                      placeholder: 'Enter Zip Code',
                                                      type:'text',
                                                      min : 4,
                                                      max : 4,
                                                      value:'',
                                                      class : 'col-sm-12 col-md-6 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Zip Code'},
                                                    },
                                                    { name:'invoice_city',
                                                      caption:'',
                                                      placeholder: 'Enter City',
                                                      type:'text',
                                                      value:'',
                                                      class : 'col-sm-12 col-md-6 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter City'},
                                                    },
                                                    { name:'invoice_national_code',
                                                      caption:'',
                                                      placeholder: 'Enter Country',
                                                      type:'text',
                                                      value:'',
                                                      max:'3',
                                                      min:'2',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Country'},
                                                    },

                                            ]
                                          },
                                        ]
                                },
                    ]
            },

        }
    },
    methods : {
        openModal(){
            this.$refs[this.modalId].open();
        }
    }
}
</script>
